#titulo{
    text-align: center;
}


table, th, td {
    border: 1px solid black;  
    text-align: center;
    margin: 0 auto;
    
}
table{
    width: 50%;
    position: relative;
    top: 125px;
    right: 10%;
}

 /* img{
     position: absolute;
     left: 25%;
      top: 50px; 
     width: 1000px;
     height: 800px;
 } */

 #contenedor{
     background-image: url("../imagen/pinguino.jpg");
     background-repeat: no-repeat;
     position: relative;
     left: 25%;
     width: 1000px;
     height: 800px;
     top: 250px; 

 }


#c1{
    background-color:white;
    text-align: center;
    font-weight: 900;
}

#c2{
    background-color:rgb(241, 250, 117);
    text-align: center;
}

#c3{
    background-color:rgb(241, 250, 117);;
    text-align: center;
}


