#titulo{
    text-align: center;
}


table, th, td {
    border: 1px solid black;  
    text-align: center;
    margin: 0 auto;
    
}
table{
    width: 50%;
}



#c1{

    background-color: springgreen;
    text-align: center;
    font-weight: 900;
}

#c2{
    background-color: cyan;
    font-weight: 900;
    text-align: left;
}

#c3{
    font-weight: 900;
    color: red;
    text-align: center;
}

#c4{
    font-weight: 900;
    text-align: center;
    
}

#c5{
    font-weight: 900;
    color: red;
    text-align: center;
}

#c6{
    font-weight: 900;
    text-align: right;
    background-color: hotpink;
}

#c7{
    font-weight: 900;
    text-align: center;
}

#c8{
    font-weight: 900;
    color: red;
    text-align: center;
}
