#titulo{
    text-align: center;
}


table, th, td {
    border: 1px solid black;  
    text-align: center;
    margin: 0 auto;
    
}
table{
    width: 50%;
}



#c1{

    background-color: rgb(8, 36, 6);
    text-align: center;
    color: rgb(119, 175, 102);
    font-weight: 900;
}

#c2{
    background-color: rgb(172, 223, 176);
    font-weight: 900;
    text-align: left;
}

#c4{
    background-color: rgb(172, 223, 176);
    font-weight: 900;
    text-align: center;
}

#c3{
    font-weight: 900;
    background-color: rgb(130, 214, 137);
    text-align: center;
}

#c5{
    font-weight: 900;
    background-color: rgb(130, 214, 137);
    text-align: left;
}

